label {
    width: 8em;
    display: inline-block;
}
input{
    width: 4.2em;
}
#output{
    min-height: 20px;
    border: 1px solid black; 
    width:12.2em;
}
button{
    width: 6em;
    margin-right: 2.5em;
}
